* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 99;
  height: 70px;
  position: sticky;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.menu-icon {
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
}
.menu-icon:hover {
  color: rgb(126, 126, 126) !important;
}
.downsoft-main-title {
  padding-top: 18px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: 20px;
}
.ant-drawer-title {
  font-size: 24px !important;
}
.custom-class .ant-drawer-body {
  padding: 0 !important;
}
.custom-class .ant-collapse-content-box {
  background-color: #fff;
}

.search-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 500px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(116, 181, 235), rgb(61, 84, 178));
  box-shadow: rgba(67, 102, 208, 0.3) 0px 10px 40px -10px;
}
.search-wrap {
  padding-top: 80px;
}
.search-text {
  font-family: Montserrat, Verdana Fallback, Verdana, sans-serif;
  font-size: 3.75rem;
  /* font-weight: bold; */
  color: white;
}
.search-input-wrap {
  margin-top: 80px;
}
.search-input-wrap input {
  width: 800px;
  height: 60px;
}
.search-input-wrap .ant-input-group-addon,
.search-input-wrap button {
  height: 60px !important;
  background-color: #ffffff;
}
.search-input-wrap .ant-input-group-wrapper,
.search-input-wrap .ant-input-wrapper {
  border-radius: 10px;
}
.search-input-wrap button .anticon-search {
  height: 22px;
}
.logo-image {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  margin-bottom: 4px;
  display: inline;
}

.soft-layout {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  /* padding-bottom: 100px; */
}
.soft-layout.column {
  display: flex;
  flex-direction: column;
}
.tab-item {
  width: 141px;
}
.tab-item img {
  width: 100%;
}
.tab-item .tab-item-app-title {
  font-size: 24px;
}
.os-list .ant-list-header {
  padding: 0 !important;
}
.os-list .ant-list-header .header-text {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 20px;
}
.os-list .ant-list-item-meta-title {
  padding-top: 2px;
  font-size: 18px !important;
}

.ant-btn-primary {
  /* background-color: rgb(96 165 250) !important; */
}
.btn-down {
  /* width: 240px; */
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
  height: auto !important;
  background-color: #60a5fa !important;
}
.btn-down:hover {
  background-color: #7db1f1 !important;
}

.container section h2 {
  font-weight: bold;
  font-size: 24px;
}
.container section p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.6px;
  font-weight: 100;
  font-family: "Inter", "Arial Fallback", sans-serif;
}

footer {
  height: 200px;
  background-color: aliceblue;
  width: 100%;
}
.footer-info {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.adsense-dev {
  width: 100%;
  height: 360px;
  background-color: #2d3436;
  margin: 0 auto;
}
